    /* Sheet Settings */

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .35);
    border-radius: 5px;

}

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .55);
}

.grow20,
.grow50,
.growText {
    transition: all .2s ease-in-out;
}

.grow20:hover {
    transform: scale(1.2);
}

.grow50:hover {
    transform: scale(1.5);
}

.growText:hover {
    font-size: 1.25rem;
}

.sectWrapper,
.badges {
    background: rgb(220, 220, 220);
    text-align: center;
    padding: 5px;
    margin: 3px;
    border: 2px solid rgb(150, 150, 150);
    cursor: default;
}

.sectWrapper {
    border-radius: 5px;
}

.column,
.row {
    display: flex;
}

.column {
    flex-direction:column;
}

.scroll {
    overflow-y: auto;
    height: calc(100% - 20px);
}

#sheetFill {
    align-items: flex-start;
    flex-wrap: wrap;
}

.infoTitle {
    font-size: .8rem;
    width: 100%;
    cursor: default;
}

#profBonusWrapper,
#savingThrowsWrapper,
#passivePerceptionWrapper,
#skillsWrapper,
#attackWrapper,
#charInfoWrapper,
#spellList,
#addSpellForm,
#addItemForm,
.itemBox {
    font-size: 1rem;
}

.infoTitle,
#savingThrowsWrapper,
#skillsWrapper,
#profBonusWrapper,
#passivePerceptionWrapper,
.badges,
#attackWrapper,
#charInfoWrapper,
#addItemForm label,
.spellStats,
#spellList,
#addSpellForm label,
.itemBox {
    text-transform: uppercase;
}

#profSavesSkills,
#combatFeatures,
#spellWrapper,
#inventoryWrapper {
    height: calc( 100vh - 70px);
    justify-content: space-between;
}

.textDefault {
    text-transform: none;
}

.infoInput {
    background: white;
    border-bottom: 1px solid black;
    font-size: 1rem;
    text-align: center;
    margin: 0 5px;
    padding: 0 5px;
    border-top: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    cursor: default;
}

.infoInput,
.attunement {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .35);
}

.attrItem {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .35);
}

.profCheck {
    margin-left: 5px;
}

button {
    background: rgb(245, 245, 245);
    border-radius: 3px;
    border-bottom: 1px solid rgb(150, 150, 150);
    border-right: 1px solid rgb(150, 150, 150);
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.styled-checkbox,
.spellMemorized,
.switch-input,
.itemEquipped,
.addSpellCheckbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 15px;
    border-radius: 7px;
    border: 1px solid rgb(150, 150, 150);
}

.trash:hover,
.settingsIcon:hover,
button:hover,
.styled-checkbox:hover + label:before,
#addSpellForm input[type=submit]:hover,
#addSpellForm select:hover,
.addSpellCheckbox + label:hover,
.addItemSubmit:hover,
.isEquipped:hover {
    box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.8),
        0 0 3px 2px rgb(120, 120, 120);
}

.trash {
    height: 20px;
    width: 22px;
    padding: 2px 3px;
    background: rgb(215, 90, 90);
    border-radius: 2px;
    margin: 1px;
}

.settingsIcon {
    height: 20px;
    width: 20px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
}


    /* Character Info */

#charHeader {
    align-items: flex-end;
    flex-wrap: wrap;
    width: calc( 100vw - 6px);
    height: 64px;
    position: relative;
}

.charName {
    min-width: 150px;
    width: 15%;
}

.classLevel,
.alignment {
    min-width: 100px;
    width: 12%;
}

#characterLevel {
    overflow-y: auto;
    height: 22px;
}

.race,
.background {
    min-width: 80px;
    width: 10%;
}

.charExperience {
    min-width: 90px;
    width: 8%;
    margin-left: auto;
    margin-right: 25px;
    height: 39px;
    position: relative;
}

#xpLabel {
    position:absolute;
    bottom: 0px;
    left: 0px;
}

#characterXP {
    transition: all .2s ease-in-out;
    width: 100%;
    margin: 0;
}

#characterXP:hover {
    transform: scale(1.5) translate(-25px, -3px);
}

#characterName {
    font-size: 1.4rem;
}

.background,
.alignment,
.charExperience {
    display: none;
}


    /* Attributes Panel */

#abilityScores {
    min-height: 556px;
    height: calc( 100vh - 76px );
    width: 84px;
    align-items: center;
}

.attrItem {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 0 10px;
    width: 100%;
    background: white;
    cursor: default;
    align-items: center;
}

.attrScore {
    font-size: 1.8rem;
    font-weight: bold;
}

.attrMod {
    font-size: 1.1rem;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 1px black, inset 0px -1px 10px -1px rgba(0, 0, 0, .35);
    width: 30px;
    border-radius: 5px 5px 0 0;
    background: white;
}

.attrMod:hover {
    border-radius: 5px;
}


    /* Proficiency Bonus, Saves, & Skills Panel */

#profBonusWrapper,
#savingThrowsWrapper,
#passivePerceptionWrapper,
#skillsWrapper {
    justify-content: flex-start;
    min-width: 214px;
}

#profBonusWrapper,
#passivePerceptionWrapper {
    align-items: center;
    height: 44px;
}

#profBonus,
#passivePerception {
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 5px 5px auto;
    font-weight: bold;
    width: 35px;
}

#savingThrowsWrapper {
    height: 184px;
    justify-content: space-between;
    position: relative;
}

.profImg {
    height:15px;
    width: 13px;
}

#strSave,
#dexSave,
#conSave,
#intSave,
#wisSave,
#chaSave {
    width: 35px;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
}

#skillsWrapper {
    flex-grow: 1;
    min-height: 272px;
    position: relative;
}

.saveTitle,
.skillTitle {
    margin-left: 3px;
    margin-right: auto;
}

.saveTitle {
    font-size: 1rem;
}

.skillTitle {
    font-size: .9rem;
}

.saveItm,
.skillItm {
    text-align: center;
    align-items: center;
}

.saveItm,
.skillItm {
    margin-top: 2px;
    text-transform: none;
}

#skillsWrapper div {
    width: 35px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

#skillsWrapper div:hover {
    transform: translateX(-7px) scale(1.5);
    z-index: 100;
}


    /* Badges */

#combatFeatures {
    min-width: 270px;
    width: calc(100vw - 310px);
    min-height: 562px;
    flex-grow: 3;
}

#badgeWrapper {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.badges {
    border-radius: 10px 10px 5px 5px;
    font-size: .7rem;
}

#initiativeBonus,
#armorClass,
#hitPoints,
#hitDice,
#speed,
#vision,
#classBadge1,
#classBadge2,
#classBadge3,
#classBadge4,
#classBadge5 {
    margin: 3px 0 0;
    border-bottom: 1px solid darkgrey;
    border-radius: 3px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

#initiativeBonus,
#armorClass,
#hitPoints,
#hitDice,
#classBadge1,
#classBadge2,
#classBadge3,
#classBadge4,
#classBadge5 {
    min-width: 50px;
    font-weight: bold;
}

#speed,
#vision {
    min-width: 60px;
    text-transform: none;
}

#initiativeBonus,
#armorClass,
#hitPoints {
    font-size: 1.1rem;
}

.deathsave {
    font-size: .85rem;
    justify-content: space-between;
    align-items: center;
}

.success {
    margin-top: 3px;
}

.failure {
    margin-bottom: 3px;
}

.deathSuccess + label:before {
    background: rgb(170, 200, 170);
}

.deathSuccess:checked + label:before {
    background: rgb(50, 170, 50);
}

.deathFailure + label:before {
    background: rgb(200, 170, 170);
}

.deathFailure:checked + label:before {
    background: rgb(170, 50, 50);
}

#hitDice,
#speed {
    font-size: .8rem;
}

#vision {
    font-size: .7rem;
}


    /* Attack & Character Details */

#attackWrapper {
    width: calc(100% - 6px);
    max-width: 600px;
    margin: 3px auto;
    flex-grow: 1;
    position: relative;
}

.atkHeader {
    font-size: .7rem;
    margin: 0 10px;
}

.atkName {
    text-align: left;
}

.atkBns,
.atkDmg,
.atkRng {
    text-align: center;
}

.atkName {
    width: 30%
}

.atkBns {
    width: 10%;
}

.atkDmg {
    width: 40%
}

.atkRng {
    width: 20%;
}

.atkItem {
    font-size: 1rem;
    margin-top: 5px;
}

.atkItem:hover {
    border: 1px solid black;
    border-radius: 3px;
}

.detailHeader {
    text-align: left;
    text-transform: none;
    padding: 1px 0;
    font-size: 1.1rem;
}

.detailInfo {
    margin: 1px 3px 10px 15px;
    padding: 2px 3px;
    font-size: 1rem;
    background: white;
    box-shadow: 1px 0px rgb(150, 150, 150), 1px 2px rgb(150, 150, 150), inset 0 0 10px rgba(0, 0, 0, .35);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0 5px 5px 5px;
}

#charInfoWrapper {
    flex-grow: 1;
    min-height: 100px;
    position: relative;
}


/* Spell Details */
#spellWrapper{
    min-width: 300px;
    flex-grow: 2;
    min-height: 500px;
    align-items: center;
    position: relative;
}

.spellStats {
    font-size: 1rem;
    align-items: center;
    justify-content: space-around;
    margin: 16.5px 3px;
    width: 285px;
}

.spellStats span {
    align-items: center;
    padding: 0 5px;
    width: 90px;
}

.spellStats div {
    width: 70px;
}

#spellAttack1,
#spellDC1,
#spellMemorized {
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid rgb(150, 150, 150);
}

#spellList {
    width: calc(100% - 6px);
    margin: 3px 0 auto;
    flex-shrink: 1;
    min-height: 100px;
    position: relative;
}

#spellList span {
    text-transform: none;
    text-align: left;
    font-size: 1.1rem;
}

#spellList section {
    justify-content: space-between;
}

#spellList div {
    margin-right: 3px;
    border-left: 1px solid rgb(150, 150, 150);
    border-right: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
    padding: 2px 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 0 rgb(150, 150, 150), inset 0 0 10px rgba(0, 0, 0, .35);
    background: white;
}

#spellList ul {
    border-top-right-radius: 0;
    margin-top: 0;
    z-index: 0;
}

#spellList li {
    display: flex;
    padding-left: 4px;
    border-bottom: 1px dotted gray;
    transition: all .1s ease-in-out;
    z-index: 1000;
}

#spellList li:last-child {
    border-bottom: none;
}

#spellList li:hover {
    font-size: 1.25rem;
}

.notMemorized {
    color: rgb(119, 119, 119);
    text-decoration: line-through;
}

.spellMemorized:checked + label {
    color: black;
    text-decoration: none;
    padding-left: 0;
}

#spellList p {
    margin: 0 10px;
    padding: 0 5px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: none none;
}

#spellList p:first-of-type {
    margin-left: auto;
}

#addSpellForm {
    width: 271px;
}

#addSpellForm *,
#addItemForm * {
    margin: 1px 2px;
}

.addSpellWrap {
    flex-wrap: wrap;
    justify-content: center;
}

#addSpellForm input[type="text"] {
    width: 170px;
}

#addSpellForm input[type="text"]:focus,
#addItemForm input[type="text"]:focus {
    outline: 2px solid rgb(200, 225, 250);
}

#addSpellForm select {
    width: 75px;
}

#addSpellForm input[type=submit] {
    width: 75px;
}

.ritualCheck {
    width: 56px;
}

.concentrationCheck {
    width: 110px;
}

.addSpellCheckbox + label {
    padding: 1px 3px;
    color: gray;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
}

.addSpellCheckbox:checked + label {
    color: black;
    background: rgb(190, 190, 190);
    font-weight: bold;
}

#addItemForm input[type=submit],
#addSpellForm input[type=submit] {
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 1px 1px rgb(150, 150, 150);
}

#addItemForm input[type=text],
#addSpellForm input[type=text] {
    padding: 0 2px;
}

/* Inventory Details */

#inventoryWrapper {
    min-width: 300px;
    flex-grow: 2;
    min-height: 500px;
    justify-content: space-between;
}

#addItemForm {
    width: 284px;
    margin-left: auto;
    margin-right: auto;
}

#addItemForm span {
    flex-wrap: wrap;
    justify-content: center;
}

#addItemName {
    width: 220px;
}

.addItemAttuned {
    width: 113px;
}

.qtyLabel {
    width: 30px;
    text-align: right;
}

#addItemAmount {
    width: 37px;
}

.addItemSubmit {
    width: 70px;
}

.itemBox {
    flex-shrink: 1;
    min-height: 40px;
    margin-bottom: auto;
    position: relative;
}

#inventory {
    margin: 0;
    border-radius: 3px 0 3px 3px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .35);
}

.attunement {
    font-weight: bold;
    position: absolute;
    right: 51px;
    top: 3px;
    font-size: .9rem;
    padding: 0 4px;
    background: white;
    margin: 0;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
}

#inventory li {
    text-transform: none;
    border-bottom: 1px dotted gray;
}

#inventory li:last-of-type {
    border-bottom: none;
}

#inventory li p:first-of-type {
    margin: 0;
    width: 35px;
    padding: 4px 0 0 4px;
    text-align: left;
    font-size: .8rem;
}

#inventory li {
    justify-content: space-between;
    flex-grow: 1;
}

#inventory li p:last-of-type {
    margin: 0 20px 0 auto;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
}

.isEquipped {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.equipped {
    background-image: url(../img/Armor-Gray.png);
    background-size: cover;
    box-shadow: inset -1px -1px 5px -3px black, inset -1px -1px 5px -1px white;
}

.equippedList {
    background: rgb(200, 225, 250);
    box-shadow: inset 0 -1px 10px -4px black, inset 1px 1px 8px 0px white;
}

.coinpurse {
    justify-content: center;
    margin-top: 6px;
}

.coinpurse section {
    flex-wrap: wrap;
    justify-content: center;
}

.coinpurse span {
    flex: 1;
    justify-content: center;
}

.ratio {
    font-size: .7rem;
    margin-left: 15px;
}

#ppAmount,
#gpAmount,
#epAmount,
#spAmount,
#cpAmount {
    min-width: 40px;
    /* width: 100%; */
}


/* Media Queries */
@media (min-width: 465px) {
    .charExperience {
        display: block;
    }
}

@media (min-width: 545px) {
    .background {
        display: block;
    }

    #spellWrapper,
    #inventoryWrapper {
        width: 50vw;
    }
}

@media (min-width: 645px) {
    .alignment {
        display: block;
    }
}

@media (min-width: 1000px) {
    #spellWrapper {
        display: none;
    }

    #sheetFill {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1350px) {
    #spellWrapper {
        display: flex;
    }

    .charDetails {
        margin: auto;
    }

    #sheetFill {
        max-width: 1920px;
        margin: auto;
    }

}